<div class="modal-header">
  <div class="header-title">
    <h1>Upload photo</h1>
  </div>
  <span
    class="icon close-icon is-action"
    (click)="activeModal.dismiss(false)"
    [class.events-none]="saving"
  >
    <img src="./assets/icons/x.svg" alt="" />
  </span>
</div>
<div class="modal-body">
  <div class="section">
    <div class="title">
      <div class="label">Choose a file</div>
    </div>
    <app-file-upload (fileChanged)="onFileChanged($event)"></app-file-upload>
    <div class="warning justify-start align-center">
      <div class="text" *ngIf="showWarning">
        The image size exceeds our 1080px limit, therefore we will compress it
        for you. If you wish to have full control over its quality, we suggest
        compressing it yourself.
      </div>
    </div>
  </div>
  <div class="section" [class.disabled]="!file">
    <div class="title align-center">
      <div class="arrow">
        <img
          [src]="'./assets/icons/arrow.svg'"
          [class.is-open]="file"
          class="arrow"
        />
      </div>
      <div class="label">Pick some categories</div>
    </div>
    <div *ngIf="file">
      <app-loader *ngIf="categoriesLoading"></app-loader>
      <div class="notification is-red" *ngIf="categoriesError">
        <span class="text"
          >An error occured when trying to list categories.</span
        >
      </div>
      <div
        class="categories-container"
        *ngIf="!categoriesError && categories.length"
      >
        <app-combobox
          [values]="categoryOptions"
          [(ngModel)]="selectedCategories"
        >
        </app-combobox>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer space-between">
  <div class="align-center"></div>
  <div class="align-center">
    <button
      type="button"
      class="button is-light"
      (click)="activeModal.dismiss(false)"
      [disabled]="saving"
    >
      <span>Cancel</span>
    </button>
    <button
      type="submit"
      class="button"
      [disabled]="!selectedCategories.length"
      (click)="uploadPhoto()"
    >
      <span *ngIf="!saving">Upload</span>
      <span *ngIf="saving">Uploading...</span>
    </button>
  </div>
</div>
