<div class="profile-info slimScroll">
  <div class="info container">
    <div class="space-between">
      <div>
        <div class="name">{{ userName }}</div>
        <div class="statistics justify-start">
          <div class="stat">
            <img [src]="'./assets/icons/gallery.png'" class="photo" alt="" />
            <span class="text"> {{ numberBoards }}</span>
          </div>
        </div>
      </div>
      <button class="is-transparent create-button" (click)="openCreateModal()">
        <img [src]="'./assets/icons/add.svg'" class="photo" alt="" />
        <span class="text">New Board</span>
      </button>
    </div>
  </div>
  <div class="profile-content container">
    <span class="subtitle">Boards</span>
    <div class="content" [class.justify-center]="!boards.length">
      <app-loader *ngIf="loading"></app-loader>
      <div class="notification is-red" *ngIf="!loading && error">
        <span class="text">{{ error }}</span>
      </div>
      <div class="notification" *ngIf="!loading && !error && !boards.length">
        <img [src]="'./assets/icons/gallery.png'" alt="" />
        <span class="text"
          >Gather some inspiration by creating your customized boards.</span
        >
      </div>
      <app-board-list-item
        *ngFor="let board of boards"
        [board]="board"
        (click)="openBoard(board.id)"
      ></app-board-list-item>
    </div>
  </div>
</div>
