<section class="auth register">
  <div class="container">
    <div class="header">
      <span class="text">Register</span>
    </div>
    <div class="notification is-red" *ngIf="error">
      <img [src]="'./assets/icons/x_empty.svg'" alt="" />
      <span class="text"
        >Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy</span
      >
    </div>
    <form
      (ngSubmit)="submit()"
      [formGroup]="registerForm"
      novalidate
      class="form"
    >
      <div class="field">
        <label class="label">Email</label>
        <div
          class="input-field"
          [ngClass]="{
            'is-active': emailFocused
          }"
        >
          <input
            class="input"
            type="text"
            formControlName="email"
            (focus)="emailFocused = true"
            (blur)="emailFocused = false"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div
          class="input-field"
          [ngClass]="{
            'is-active': nameFocused
          }"
        >
          <input
            class="input"
            type="text"
            formControlName="name"
            (focus)="nameFocused = true"
            (blur)="nameFocused = false"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div
          class="input-field"
          [ngClass]="{
            'is-active': passwordFocused
          }"
        >
          <input
            class="input"
            type="password"
            formControlName="password"
            autocomplete="off"
            *ngIf="!showPassword"
            (focus)="passwordFocused = true"
            (blur)="passwordFocused = false"
          />
          <input
            class="input"
            type="text"
            formControlName="password"
            autocomplete="off"
            *ngIf="showPassword"
            (focus)="passwordFocused = true"
            (blur)="passwordFocused = false"
          />
          <img
            [src]="'./assets/icons/preview.svg'"
            alt=""
            (click)="showPassword = !showPassword"
          />
        </div>
      </div>
      <div class="field justify-end">
        <button type="submit" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
  </div>
</section>
