<nav class="nav-container">
  <div class="nav-top nav-section">
    <img [src]="'./assets/icons/logo-camera-white.png'" class="icon" alt="" />
  </div>
  <div class="nav-content nav-section" [class.profile-open]="profileOpen">
    <div class="profile-toggle">
      <div class="user-icon" (click)="clickProfile()">
        <span class="text">{{ userInitials }}</span>
        <img [src]="'./assets/icons/arrow.svg'" class="arrow" alt="" />
      </div>
    </div>
  </div>
  <div class="nav-bottom nav-section">
    <div class="icon-wrapper" (click)="logout()">
      <img [src]="'./assets/icons/logout-left.svg'" class="icon" alt="" />
      <img
        [src]="'./assets/icons/logout-arrow.svg'"
        class="icon arrow"
        alt=""
      />
    </div>
  </div>
</nav>
