<div class="zoomable-container" #zoomableContainer>
  <div class="top" [class.below]="focusedCluster !== -1" *ngIf="board">
    <div class="header">
      <span class="title">{{ board.name }}</span>
      <span class="text" *ngIf="saving">Saving...</span>
      <span class="text" *ngIf="!saving && recentlySaved">Saved</span>
      <span class="text" *ngIf="!saving && !recentlySaved"
        >Last update was {{ updatedAtFromNow }}</span
      >
    </div>
    <div
      class="subheader justify-start align-center"
      [class.disabled]="board && boardsLoaded < board.categoryNames.length"
    >
      <div class="zoom-label">
        <span class="text">{{ zoom }}%</span>
      </div>
      <div class="action-icons">
        <div
          class="action-icon"
          (click)="arrangeClusters()"
          [title]="'reset positions'"
        >
          <img [src]="'./assets/icons/arrange.png'" alt="" />
        </div>
      </div>
      <app-selectbox
        [values]="sortCriteria"
        [(ngModel)]="sortType"
        (ngModelChange)="sortClusters()"
      ></app-selectbox>
    </div>
  </div>
  <div
    class="create-button is-large"
    *ngIf="!board"
    (click)="openCreateModal()"
  >
    <img [src]="'./assets/icons/add.svg'" alt="" />
    <span class="text">New board</span>
  </div>
  <app-cool-loader
    *ngIf="board && boardsLoaded < board.categoryNames.length"
  ></app-cool-loader>
  <div class="zoomable" *ngIf="board" #zoomable>
    <app-cluster
      *ngFor="let cluster of board.clusters; let i = index"
      [hidden]="boardsLoaded < board.categoryNames.length"
      [cluster]="cluster"
      [focused]="focusedCluster === i"
      [sortTypeChangedSubject]="sortTypeChangedSubject"
      (clusterLoadedFirstTime)="boardsLoaded = boardsLoaded + 1"
    ></app-cluster>
  </div>
</div>
