<div
  class="cluster"
  #clusterElement
  [title]="focused ? '' : 'click for more photos'"
>
  <div class="cluster-header justify-center align-center">
    <div class="action-icons">
      <div class="action-icon" [title]="'Ctrl + Q'">
        <img [src]="'./assets/icons/back.png'" alt="" />
      </div>
    </div>
    <img
      [src]="'./assets/icons/stars.png'"
      class="perfect"
      *ngIf="perfectMatch"
      alt=""
    />
    <span class="name">{{
      !categoryName ? "..." : perfectMatch ? "Perfect match" : categoryName
    }}</span>
    <img
      [src]="'./assets/icons/stars.png'"
      class="perfect"
      *ngIf="perfectMatch"
      alt=""
    />
  </div>
  <div class="cluster-body" [class.slimScroll]="focused">
    <app-infinite-scroll (scrolled)="listPhotos()" [anchorHidden]="!focused">
      <div
        class="gallery"
        [class.hidden-content]="!focused && photos.length > 3"
        *ngIf="photos.length"
      >
        <div
          class="photo"
          *ngFor="let photo of photos; let i = index"
          [hidden]="!focused && i > 2"
        >
          <img
            [src]="focused && photo.url ? photo.url! : photo.compressedUrl!"
            class="photo-elem"
            alt=""
            (click)="openPhotoModal(photo)"
          />
          <div class="stat" (click)="starPhoto(photo)">
            <img
              [src]="'./assets/icons/star-empty-white.svg'"
              *ngIf="!photo.starred"
              alt=""
            />
            <img
              [src]="'./assets/icons/star-full-white.svg'"
              *ngIf="photo.starred"
              alt=""
            />
            <span class="text">{{ photo.numberStars }}</span>
          </div>
        </div>
      </div>
    </app-infinite-scroll>

    <div class="notification" *ngIf="!loading && !error && !photos.length">
      <span class="text">No photos uploaded under this category</span>
    </div>
    <app-loader *ngIf="loading"></app-loader>
    <div class="notification is-red" *ngIf="!loading && error">
      <span class="text">An error occured while loading the photos.</span>
    </div>
  </div>
</div>
