// gray
$gray-100: #f7fafc
$gray-200: #edf2f7
$gray-300: #e2e8f0
$gray-400: #cbd5e0
$gray-500: #a0aec0
$gray-600: #718096
$gray-700: #4a5568
$gray-800: #2d3748
$gray-900: #1a202c

// red
$red-100: #f1978e
$red-200: #ee8377
$red-300: #eb6e60
$red-400: #e95949
$red-500: #e74c3c
$red-600: #e64533
$red-700: #e3301c
$red-800: #cc2b19
$red-900: #b62616

// orange
$orange-100: #fffaf0
$orange-200: #feebc8
$orange-300: #fbd38d
$orange-400: #f6ad55
$orange-500: #ed8936
$orange-600: #dd6b20
$orange-700: #c05621
$orange-800: #9c4221
$orange-900: #7b341e

// yellow
$yellow-100: #fffff0
$yellow-200: #fefcbf
$yellow-300: #faf089
$yellow-400: #f6e05e
$yellow-500: #ecc94b
$yellow-600: #d69e2e
$yellow-700: #b7791f
$yellow-800: #975a16
$yellow-900: #744210

// green
$green-100: #f0fff4
$green-200: #c6f6d5
$green-300: #9ae6b4
$green-400: #68d391
$green-500: #48bb78
$green-600: #38a169
$green-700: #2f855a
$green-800: #276749
$green-900: #22543d

// teal
$teal-100: #e6fffa
$teal-200: #b2f5ea
$teal-300: #81e6d9
$teal-400: #4fd1c5
$teal-500: #38b2ac
$teal-600: #319795
$teal-700: #2c7a7b
$teal-800: #285e61
$teal-900: #234e52

// blue
$blue-100: #ebf8ff
$blue-200: #bee3f8
$blue-300: #90cdf4
$blue-400: #63b3ed
$blue-500: #4299e1
$blue-600: #3182ce
$blue-700: #2b6cb0
$blue-800: #2c5282
$blue-900: #2a4365

// indigo
$indigo-100: #ebf4ff
$indigo-200: #c3dafe
$indigo-300: #a3bffa
$indigo-400: #7f9cf5
$indigo-500: #667eea
$indigo-600: #5a67d8
$indigo-700: #4c51bf
$indigo-800: #434190
$indigo-900: #3c366b

// purple
$purple-100: #faf5ff
$purple-200: #e9d8fd
$purple-300: #d6bcfa
$purple-400: #b794f4
$purple-500: #9f7aea
$purple-600: #805ad5
$purple-700: #6b46c1
$purple-800: #553c9a
$purple-900: #44337a

// pink
$pink-100: #fff5f7
$pink-200: #fed7e2
$pink-300: #fbb6ce
$pink-400: #f687b3
$pink-500: #ed64a6
$pink-600: #d53f8c
$pink-700: #b83280
$pink-800: #97266d
$pink-900: #702459

// main color palette
$black: #000000
$white: #ffffff
// $light-green: #d0e2d4fd
// $green: #839788
// $dark-green: #22543d
// $beige: #eee0cb
// $brown: #baa898
// $blue:  #bfd7ea
$dark-brown: #5d5c61
$light-brown: #938e94
$light-blue: #b3c5d9
$cool-blue: #7395ae
$dark-blue: #557a95
$beige: #b1a296
$golden: #f3c385
$red: #c42f2f


// backgrounds
$background-primary: $white
$background-secondary: $light-blue
$background-tooltip: #282F30
$background-input: $white
$background-button: $blue-600
$background-header: $white
$background-search: #f7f6f6
$background-gradient: linear-gradient(121deg, rgba(85,122,149,0.6615896358543417) 0%, rgba(179,197,217,1) 21%, rgba(228,228,236,1) 60%, rgba(226,227,235,1) 82%, rgba(243,195,133,0.5159313725490196) 100%)

// borders
$border-default: #E1E8EB
$border-primary: #C9D0DF
$border-secondary: #D4DAE4
$border-section: #EAEDF3
$border-input: $border-default
$border-button: $border-default
$border-input-active: #4443432a
$border-box: #e9e9e9
// $border-active
$border-dark: #545f6d69

//text
$text-primary: #525A64
$text-secondary: #8b9aae

//filters
$filter-black: brightness(0) saturate(100%)
$filter-white: $filter-black invert(100%)
