button
    all: unset
    height: 26px
    min-width: 70px
    padding: 4px 10px
    color: $white
    display: inline-flex
    align-items: center
    background-color: $dark-blue
    border-radius: 3px
    transition: background-color .2s

    span
        margin-left: auto
        margin-right: auto

    img
        display: inline-block
        width: 14px
        height: 14px
        margin-right: 0.7rem
        filter: $filter-white

    &:hover
        background-color: $cool-blue
        cursor: pointer

    &.is-disabled
        opacity: .4
        cursor: default
