.categories
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

    .category
        margin: 5px
        padding: 5px
        background-color: $golden
        border-radius: 5px
        color: $white


