$arrow-left: 36px

.nav-container
    width: 70px
    height: 100%
    background: $background-gradient
    display: flex
    flex-direction: column
    align-items: center
    border-right: 1px solid $border-primary
    position: relative
    z-index: 1000

    .icon
        width: 100%

    .nav-section
        padding: 5px

    .nav-top
        border-bottom: 1px solid $border-primary

    .nav-bottom
        position: absolute
        bottom: 0px
        border-top: .6px solid $white

        .icon-wrapper
            padding: 15px
            position: relative

            img
                filter: $filter-white

                &.arrow
                    position: absolute
                    margin: auto 0
                    height: 31px
                    right: 0px
                    transition: right .2s

            &:hover
                cursor: pointer

                .arrow
                    right:  -5px

    .nav-content
        .nav-icon
            height: 34px
            width: 34px
            margin: 10px 10px 20px 10px
            display: flex
            justify-content: center
            align-items: center
            transition: opacity .4s
            position: relative

            .arrow
                position: absolute
                height: 12px
                left: 0
                filter: $filter-white
                opacity: 0
                transition: all .2s

            &:hover
                cursor: pointer

                .arrow
                    left: $arrow-left
                    opacity: .6

            &.board-icon
                width: 38px // TODO: improve icon such that this is not needed

            &.user-icon
                background-color: $golden
                color: $white
                font-weight: $weight-semibold
                border-radius: 4px
                border: 1px solid $white

                &:hover
                    box-shadow: $box-shadow-white

                span
                    font-size: 16px
                    -webkit-user-select: none
                    -ms-user-select: none
                    user-select: none


        &.profile-open
            .user-icon
                .arrow
                    transform: rotate(180deg)
                    left: $arrow-left
                    opacity: 1





