<main class="main" *ngIf="loggedIn | async; else loggedOut">
  <section class="profile">
    <app-nav
      (profileClickedEvent)="isPortfolioOpen = !isPortfolioOpen"
      (boardsClickedEvent)="isBoardsOpen = !isBoardsOpen"
    ></app-nav>
    <app-profile
      [isPortfolioOpen]="isPortfolioOpen"
      [isBoardsOpen]="isBoardsOpen"
    ></app-profile>
  </section>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<ng-template #loggedOut>
  <router-outlet></router-outlet>
</ng-template>

<app-toast></app-toast>
