<div class="selectbox-container">
  <div class="selectbox-value" (click)="toggle()">
    <div
      class="option-placeholder"
      *ngIf="
        !(innerIndex !== -1 && values[innerIndex] && values[innerIndex].image)
      "
    >
      <span
        [class.text-placeholder]="options.placeholder === placeholderText"
        >{{
          this.customPlaceholder ? this.customPlaceholder : placeholderText
        }}</span
      >
    </div>
    <img
      [src]="'./assets/icons/arrow.svg'"
      [class.rotated]="isOpened"
      class="down-icon"
    />
  </div>
  <div class="selectbox-options-container" *ngIf="isOpened">
    <div class="selectbox-options" slimScroll>
      <div
        class="selectbox-option"
        *ngFor="let val of items"
        (click)="setValue(val.value)"
        [class.is-active]="val.value === innerValue"
      >
        <span class="option-placeholder">{{ val.placeholder }}</span>
        <img
          [src]="'./assets/icons/arrow.svg'"
          class="selection-icon"
          *ngIf="val.value === value"
        />
      </div>
    </div>
  </div>
</div>
