<div class="modal-body">
  <img [src]="photo.url!" class="photo-elem" alt="" />
  <div class="action-icons exit">
    <div class="action-icon" [title]="'Esc'" (click)="activeModal.dismiss()">
      <img [src]="'./assets/icons/x.svg'" alt="" />
    </div>
  </div>
  <div class="action-icons tools">
    <div class="action-icon" [title]="'Download'" (click)="downloadPhoto()">
      <img [src]="'./assets/icons/download.png'" alt="" />
    </div>
    <div class="action-icon" [title]="'Star'" (click)="starPhoto()">
      <img
        [src]="'./assets/icons/star-full-white.svg'"
        *ngIf="photo.starred"
        alt=""
      />
      <img
        [src]="'./assets/icons/star-empty-white.svg'"
        *ngIf="!photo.starred"
        alt=""
      />
    </div>
  </div>
</div>
