<section class="auth-wrapper">
  <div class="auth-container">
    <div class="section">
      <div class="wrapper justify-center">
        <img [src]="'./assets/icons/logo.png'" class="logo" alt="" />
        <span class="text slogan"
          >The photos you need to get inspired before your next photoshoot, all
          in one place</span
        >
      </div>
    </div>
    <div class="section">
      <div class="flip">
        <div class="flippable" [class.is-rotated]="isRotated">
          <app-login class="front"></app-login>
          <app-register class="back"></app-register>
          <div class="toggle align-center" #toggle (click)="switch()">
            <div class="text-area">
              <span class="text" *ngIf="!isRotated"
                >Not a member yet? Create an account</span
              >
              <span class="text" *ngIf="isRotated"
                >Already have an account? Log in</span
              >
            </div>
            <div class="icon-area">
              <img [src]="'./assets/icons/arrow.svg'" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
